*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.blocco{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.game-container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#conbomba{
    background-color: white;
}

#show{
    background-color: red;
}

#genera{
    visibility: hidden;
}

.main-container{
    display: flex;
}

.points{
    text-align: center;
    font-size: 100px;
}

.left-container {
    width: 30%;
}

.game-container{
    visibility: hidden;
}

#reload{
    visibility: hidden;
}